##Ignorar todo
*
##Menos esto
!Entregable 0/**
!Entregable 0
!Entregable 1/**
!Entregable 1
!Entregable 2/**
!Entregable 2
!Entregable Integrador/**
!Entregable Integrador
!Laboratorio/**
!Laboratorio

# ignorar ejecutables dentro del TP
Entregable 0/*.exe

